<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.label :title, class:"label" %>
    <%= form.text_field :title, class:"input" %>
  </div>

  <div class="input-group">
    <%= form.label :body, class:"label" %>
    <%= form.text_area :body, class:"input" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-green" %>
  </div>
<% end %>
